@model TagBuilder

@{
    ViewData["Title"] = "Home Page";
}

@section style{
    <style>
        .myJstree {
            list-style-image: url(folder.png);
            width:100%;
            height100%;
        }

            .myJstree ul {
                display: none;
            }

            .myJstree li {
                color: chocolate;
            }

                .myJstree li:hover {
                    cursor: pointer;
                }

            .myJstree, .myJstree ul {
                position: relative;
            }

        .ok {
            position: absolute;
            transform: rotate(270deg);
            left: -0.50em;
            color: chocolate;
        }

        .anaDiv {
            width: 300px;
            padding: 10px 10px;
            height:300px;
            overflow:auto;        
        }

        .form-floating > .form-control {
            height: calc(1.5rem + 2px);
            line-height: 1.25;
            padding: 0.50rem 0.75rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .form-floating > label {
            font-size: 90%;
            padding: 0.25rem 0.75rem;
            color: rgb(194, 190, 190);
        }

        .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
            padding-top: 1.625rem;
            padding-bottom: 1rem;
        }

            .form-floating > .form-control:focus ~ label,
            .form-floating > .form-control:not(:placeholder-shown) ~ label {
                opacity: 0.65;
                transform: scale(0.85) translateY(-0.3rem) translateX(0.15rem);
            }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="anaDiv">
                <div class="form-floating mb-3">
                    <input type="text" id="ara" onkeyup="filtrele()" class="form-control" placeholder=".">
                    <label for="ara">Ara</label>
                </div>
                @Model
            </div>
        </div>
    </div>
</div>
                @section Scripts{
                    <script>
                      
                        $(".myJstree li").click(function (event) {
                            event.stopPropagation();
                            var a = $(this);
                            if ($(this).children("ul").html() != undefined) {
                                $(this).children("ul").toggle("slide", function () {
                                    if ($(a).children("ul").css("display") != "none") {
                                        $(a).prev().css({
                                            "transform": "rotate(0deg)",
                                            "transition": "500ms"
                                        });
                                    } else {
                                        $(a).prev().css({
                                            "transform": "rotate(270deg)",
                                            "transition": "500ms"
                                        });
                                    }
                                });
                            }
                        });

                        $(".myJstree li").each(function (index, element) {
                            if ($(element).children("ul").html() != undefined) {
                                $(element).before("<i class='bi bi-caret-down-fill ok'></i>");
                            }
                        });

                        function filtrele() {
                            var input, filter, ul, li, a, i, txtValue;
                            input = document.getElementById("ara");
                            filter = input.value.toUpperCase();
                            ul = document.getElementById("myJstree");
                            li = ul.querySelectorAll('li');
                            for (i = 0; i < li.length; i++) {
                                a = li[i].getElementsByTagName("span")[0];
                                txtValue = a.textContent || a.innerText;
                                if (filter == "") {
                                    $(".myJstree ul").hide("slide");
                                    $(".myJstree li").prev("i").css({
                                        "transform": "rotate(270deg)",
                                        "transition": "500ms"
                                    });
                                } else if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    var k = li[i];
                                    $(k).parents("ul").show("slide");
                                    $(k).parents("li").prev().css({
                                        "transform": "rotate(0deg)",
                                        "transition": "500ms"
                                    });
                                    setTimeout(() => {
                                        $(k).children("ul").hide("slide", function () {
                                            if ($(k).children("ul").css("display") == "none") {
                                                $(k).prev().css({
                                                    "transform": "rotate(270deg)",
                                                    "transition": "500ms"
                                                });
                                            }
                                        });
                                    }, 10);
                                } else {
                                    var sayi = 0;
                                    var bos = 0;
                                    $(".myJstree span").each(function () {
                                        sayi++;
                                        if ($(k).text() == "") {
                                            bos++;
                                        }
                                    });
                                    if (sayi === bos) {
                                        $(".myJstree ul").hide("slide");
                                        $(".myJstree li").prev("i").css({
                                            "transform": "rotate(270deg)",
                                            "transition": "500ms"
                                        });
                                    }
                                    if ($(k).children("ul").html() != undefined) {
                                        $(k).siblings("li").children("ul").hide("slide", function () {
                                            if ($(k).siblings("li").children("ul").css("display") == "none") {
                                                $(k).siblings("li").prev().css({
                                                    "transform": "rotate(270deg)",
                                                    "transition": "500ms"
                                                });
                                            }
                                        });
                                    }
                                }
                            }
                        }
                    </script>
                }
